
  /* Landing page styles */
  .landing {
    display: flex;
    color: #000000;
    min-height: 300px;
    padding-left: 1.5em;
    padding-right: 1em;
    margin-top: 0;
    background-color: #f3fff0;
  }

  .column1 {
    flex: 2;
  }
  .column2 {
    flex: 1;
    background-color:#d9e7ce;
    background-size: contain;
    margin-top: 0;
    height: min-content;
  }

  .column2> img
  {
    border-radius: 50%;
    border: 0.1em solid green;
    padding: 0.5em;
    height: 100%;
    width: 100%;
    margin-left: -6em;
    margin-top: 2em;
  }
  .cta-button {
    display: inline-block;
    padding: 1em 1.5em;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    border-radius: 0.5em;
    margin-top: 20px;
  }

 
  
  /* Featured Games Section */
  .featured-games {
    text-align: center;
    background-color: #d8f1e0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1em;
  }
  
  /* Overview Section */
  .overview {
    text-align: center;
    padding: 0.5em 0;
    background-color: #cee7cf;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  .overview h3, p
  {
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
  }
  
  .game {
    display: inline-block;
    margin: 0 20px;
    background-color: #f3fff0;
  }
  
  .game img {
    width: 5em;
    height: 4em;
    border-radius: 4px;
  }

  .game p 
  {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .featured-games h3
  {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  
