:root
{
    box-sizing: border-box;
}
*,
::before,
::after
{
    box-sizing: inherit;
}
body
{
    background-color: #dedcdc;
    font-family: 'Times New Roman', helvetica, Arial, sans-serif;
    font-size: medium;
    margin: 1em;
}

body * + *
{
    margin-top: 1.5em;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5em;
    max-width: 1080px;
    background-color: #ffff;    
    margin: 0 auto;
}

/* add background color and padding to the tiles*/
.tile
{
    padding: 0.5em;
    background-color: #e9eceff7;
    margin-top: 0;
    margin-left: .5em;
}

/* General page layout */
nav, .landing, .featured-games, .overview, footer
{
    grid-column: 1/4;
}
.main-flex
{
    display: flex;
}

.main-flex > * + * 
{
    margin-top: 0;
} 

.column-asidebar1
{
    flex: 0 0 100px;
}

.column-asidebar2 
{
    flex: 0 0 100px;
    
}

.column-main
{
    flex: 1
}

.site-nav 
{
    display: flex;
    padding: .5em;
    list-style-type: none;
    /*background-image: linear-gradient(90deg, #8bf9ec, #41fee8); */
    border-radius: .2em;
    margin-bottom: 0;
}

.site-nav > li
{
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav > li > a 
{
    display: block;
    padding: 0.5em 1em;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.site-nav > li + li 
{
    margin-left: 1.5em;
}


.site-nav > .nav-right
{
    margin-left: auto;
    background-color: #88f78a;
    border-radius: 1em;
}

.register 
{
    background-color: #00f304;
    border-radius: 1em;
    color: white;
}
.logo
{
    margin-right: 5em;
    
}



/* login page styles */
.login-box 
{
    position: relative;
    top: 50%;
    left: 50%;
    Width: 400px;
    padding: 1em;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7); 
    border-radius: 1em;
}

.login-box h2 
{
    margin: 0 0 1.5em;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box
{
    position: relative;
}

.login-box .user-box input
{
    width: 100%;
    padding: 1em 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    font-size: 16px;
    padding: .0025em 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label
{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.login-box form button, .register-button {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-image: linear-gradient(to bottom, #57b, #148);
    box-shadow: 0.1em 0.1em 0.5em #124;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

.reset-button 
{
    margin-top: -8px;
    color: #03e9f4;
    text-decoration: none;
}
.reset-button a:hover {
    text-decoration: underline;
}

.register-button a {
    text-decoration: none;
    color: #03e9f4;
}

.login-box form button:active, .register-button:active  {
    box-shadow: inset 0 0 0.5em #124,
    inset 0 0.5em 1em rgba(0,0,0,0.4);
}

.warn
{
    color: #ff0000;
}

table {
    width: 100%;
   
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
body .table-container {
    padding: 1em; 
}

/*styling the search button */
.search-container {
    float: right;
}
.search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* style the select option*/
select {
    margin-bottom: 10px;
    margin-top: 10px;
}


.modal 
{
    display: none;
   
}
.modal-backdrop 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-body 
{
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: white;
    overflow: auto;
}
.modal-close 
{
    cursor: pointer;
}

  /* Footer Section */
  footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0;
  }