:root
{
    box-sizing: border-box;
}
*,
::before,
::after
{
    box-sizing: inherit;
}
body
{
    background-color: #dedcdc;
    font-family: 'Times New Roman', helvetica, Arial, sans-serif;
    font-size: medium;
    margin: 1em;
   
}

body * + *
{
    margin-top: 1.5em;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5em;
    grid-row-gap: 0;
    max-width: 1080px;
    background-color: #ffff;    
    margin: 0 auto;
    padding: 1.5em;
}

/* add background color and padding to the tiles*/
.tile
{
    padding: 0.5em;
    background-color: #f3fff0;
    margin-top: 0;
    margin-left: .5em;
}

/* General page layout */
nav, .landing, .featured-games, .overview, footer
{
    grid-column: 1/4;
}
.main-flex
{
    display: flex;
}

.main-flex > * + * 
{
    margin-top: 0;
} 

.login-box
{
    margin-top: 0;
    margin-bottom: 0;
}
.column-asidebar1
{
    flex: 0 0 100px;
}

.column-asidebar2 
{
    flex: 0 0 100px;
    
}

.column-main
{
    flex: 1
}

.site-nav 
{
    display: flex;
    padding: .5em;
    list-style-type: none;
    /*background-image: linear-gradient(90deg, #8bf9ec, #41fee8); */
    border-radius: .2em;
    margin-bottom: 0;
}

.site-nav > li
{
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav > li > a 
{
    display: block;
    padding: 0.5em 1em;
    color: #000000;
    text-decoration: none;

}

/* to make the profile photo icon round */
.site-nav > li > .profile
{
    padding: 0;
}

.site-nav > li + li 
{
    margin-left: 1.5em;
}


.site-nav > .nav-right
{
    margin-left: auto;
    background-color: #88f78a;
    border-radius: 1em;
}

.site-nav > .nav-img
{
    border-radius: 50%;
    border: none;
    height: 30px;
    overflow: hidden;
    width: 30px;
}

.register 
{
    background-color: #00f304;
    border-radius: 1em;
    color: white;
}
.logo
{
    margin-right: 2em;
    
}
/* dropdown styles */
/* establish containing block for the absolutely positioned menu */
.dropdown
{
    position: relative;
}

.dropdown-menu 
{
    display: none;
    position: absolute;
    left: -20em;
    top: 0.5em;
    min-width: 100%;
    background-color: #f3fff0;
   
 }

/* reveal the menu on hover */
.dropdown:hover .dropdown-menu 
{
    display: flex;
} 
.submenu 
{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 0.5em;
    border: 1px solid #999;
    
    display: flex;
}
.submenu > li + li 
{
    margin-left: 1.5em; 
    margin-top: 0;
}
.submenu > li > a
{
    display: block;
    padding: .5em 1.5em;
    background-color: #d8f1e0;
    color: #000000;
    text-decoration: none;
    margin: 0.1em;
}
.submenu > li > a:hover 
{
    background-color: #fff;
}

.dropdown-label
{
    padding: 0.5em 2em 0.5em 1.5em;
}
/*create an empty element and place it on the right side of the label */
/* uses the top border to form a down arrow */
.dropdown-label::after
{
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent; 
}

/* on hover, changes to an up arrow */
.dropdown:hover .dropdown-label::after
 {
    top: 0.7em;
    border-color: transparent transparent black;
}




/* login page styles */
.login-box 
{
    position: relative;
    top: 1em;
    left: 1em;
    Width: 400px;
    padding: 1em;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7); 
    border-radius: 1em;
}

.login-box h2 
{
    margin: 0 0 1.5em;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box input
{
    width: 100%; 
    color: #000000;
    padding: 1px 2px;
    margin-bottom: 0;
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px solid #5a5858;
    outline: none;
}

.login-box .user-box label {
    top:0;
    left: 0;
    padding: .0025em 0;
    color: #03e9f4;
}

.login-box form button, .register-button {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-image: linear-gradient(to bottom, #57b, #148);
    box-shadow: 0.1em 0.1em 0.5em #124;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
  }

.reset-button 
{
    margin-top: -8px;
    color: #03e9f4;
    text-decoration: none;
}
.reset-button a:hover {
    text-decoration: underline;
}

.register-button a {
    text-decoration: none;
    color: #03e9f4;
}

.login-box form button:active, .register-button:active  {
    box-shadow: inset 0 0 0.5em #124,
    inset 0 0.5em 1em rgba(0,0,0,0.4);
}

.warn
{
    color: #ff0000;
}

table {
    width: 100%;
    font-size: 0.85em;
   
}

th, td {
    padding: 0.4em;
    text-align: left;
    font-size: 0.85em;
    border-bottom: 1px solid #ddd;
    text-wrap: nowrap;
}

th {
    background-color: #f2f2f2;
}
body .table-container {
    padding: 1em; 
}

/*styling the search button */
.search-container {
    float: right;
}
.search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* style the select option*/
select {
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Modal dialog to require the user to read something or input something before continuing */
/* Initially hidden with display: none; property */

#loginForm
{
    display: none;  
}

/*initially hidden login form */
#signupForm
{
    display: none;  
}

/* a backdrop to obsecure content behind the modal */
/* apply z-index to the positioned ancestor to bring the entire stacking context forward */

#userLoginForm-body, #registerForm-body
{
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    overflow: auto;
    z-index: 3;
}

/* close button styles */
.modal-close 
{
    cursor: pointer;
    position:absolute;
    top: 0.1em;
    right: 0.1em;
    left: auto;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}

.modal-close::after 
{
    position: absolute;
    line-height: 0.5;
    top: 0.2em;
    left: 0.1em;
    text-indent: 0;
    content: "\00D7";
}

  /* Footer Section */
  footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0;
  }

.hidden
{
    visibility: hidden;
}
.visible
{
    visibility: visible;
   
}
.bio * + *
{
    margin-top: 0;
    margin-bottom: 0;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 200px;
}

.carousel-inner .carousel-item img
{
    height: min-content;
}

.applyFilter
{
    display: block;
}
.clearFilter
{
    display: none;
}

.coachFeatures
{
    display: block;
}
.normalFeatures
{
    display: none;
}
.playerFeatures
{
    display: none;
}
.sponsorFeatures
{
    display: block;
}

.sponsor
{
    display: none;
}
.coach
{
    display: inline;
}
.player
{
    display: inline;
}
.normal
{
    display: none;
}

.Featured-player
{
    margin-top: 0;
}

.Featured-player, .search-container
{
    margin: 0;
}
.teamSponsor
{
    background-color: #fff0f5;
}

.teamSponsor h4
{
    background-color: #faebd7;
    margin-bottom: 0;
}