{% extends "layout.html" %}
{% block title %} 
    Football Games Website
{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" type="text/css" href="/static/styles-landingpg.css">
{% endblock %}

{% block main %}

    <div class="landing">
        <div class="column1">
            <p class="dynamic_class" style="color: red;">{{message}}</p> 
            <h1>Your Local Football
                <br> Games Experience!</h1>
            <p>Checkout <a href="/index">Upcoming Matches and Results</a>  on Matches Played in your Neighborhood.</p>
            <br>
            <br>
            <p>Our football games website offers players, fans and coaches a platform to showcase their skills and popularize their teams. 
                Join the community and let your star shine all around the world.</p>
            <a href="/index" class="cta-button">Get in the Game</a>
        </div>
        
        <div class="column2">              
           <img src="/static/football_on_shores.jpg" alt="" class="landing">
        </div>
    </div>
    <section class="featured-games">
        <h3>Featured Games</h3>
        {% for game in games %}
            <div class="game">
                <img src="{{game['home_team_logo']}}" alt="">
                <img src="{{game['away_team_logo']}}" alt="">
                <p>

                    <span>{{game['home_team']}} vs </span>
                    <span >{{game['away_team']}}</span>
                </p>
                <p>Results {{game['home_score']}}:{{game['away_score']}}</p>
            </div>
        {% endfor %}
    </section>
    <section class="featured-games">
        <h3>Upcoming Games</h3>
        {% for fix in fixtures %}
        <div class="game">
            <img src="{{ fix['home_team_logo']}}" alt="">
            <img src="{{ fix['away_team_logo']}}" alt="">
            <p>{{fix["home_team"]}} Vs: {{fix["away_team"]}}</p>
            <p>Time: {{fix["match_time"]}} Venue: {{fix["venue"]}}</p>
        </div>
        {% endfor %}

    </section>
    <footer>
        <p>&copy; 2023 Promoting Local Talent. All rights reserved.</p>
    </footer>
    <script src="/static/scripts.js" type="text/javascript"></script>
{% endblock %}
