{% extends "layout.html" %}
{% block title %} 
    Football Games Website
{% endblock %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="stylesheet" type="text/css" href="/static/styles-landingpg.css">
{% endblock %}

{% block main %}

    <div class="landing">
        <div class="column1">
            <h1>Your Local Football
                <br> Games Experience!</h1>
            <p>Checkout <a href="/index">Upcoming Matches and Results</a>  on Matches Played in your Neighborhood.</p>
            <br>
            <br>
            <p>Our football games website offers players, fans and coaches a platform to showcase their skills and popularize their teams. 
                Join the community and let your star shine all around the world.</p>
            <a href="/index" class="cta-button">Get in the Game</a>
        </div>
        
        <div class="column2">              
           <img src="/static/football_on_shores.jpg" alt="" class="landing">
        </div>
    </div>
    <section class="featured-games">
        <h3>Featured Games</h3>
        {% for game in games %}
            <div class="game">
                {% if game[1] %}
                     <img src="/static/logo/{{game[1]}}_Logo.png" alt="">
                {% else  %}
                    <img src="/static/logo/logo-dummy.png" alt="No logo">

                {% endif %}

                {% if game[2] %}
                    <img src="/static/logo/{{game[2]}}_Logo.png" alt="">
                {% else  %}
                    <img src="/static/logo/logo-dummy.png" alt="No logo">
                {% endif %}
                <p>

                    <span>{{game[1]}} vs </span>
                    <span >{{game[2]}}</span>
                </p>
                <p>Results {{game[3]}}:{{game[4]}}</p>
            </div>
        {% endfor %}
    </section>
    <section class="featured-games">
        <h3>Upcoming Games</h3>
        {% for fix in fixtures %}
        <div class="game">
            {% if fix[0] %}
                <img src="/static/logo/{{fix[0]}}_Logo.png" alt="">
            {% else  %}
                <img src="/static/logo/logo-dummy.png" alt="No logo">

            {% endif %}

            {% if fix[1] %}
                <img src="/static/logo/{{fix[1]}}_Logo.png" alt="">
            {% else  %}
                <img src="/static/logo/logo-dummy.png" alt="No logo">
            {% endif %}
            <p>{{fix[0]}} Vs: {{fix[1]}}</p>
            <p>Time: {{fix[3]}} Venue: {{fix[4]}}</p>
        </div>
        {% endfor %}

    </section>


{% endblock %}
