
{% extends "layout.html" %}
{% block title %} 
    Player
{% endblock %}

{% block header %}
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles-player.css">
{% endblock %}

{% block player %}
    <main class="playerContainer">
        <div class="flex">
            <div class="profilePhoto">
                <img id="playerImage" src="/static/{{player[0]['name']}}.jpg" onerror="standby()" alt="" width="100px">
                <h4>Name: {{player[0]["name"]}}</h4>
            </div>
            <div>
                <span class="userinfo"><a href="/teams">Club: {{player[0]["team"]}}</a></span>
                <span class="userinfo">Position: {{player[0]["position"]}}</span>
                <span class="userinfo">Age: {{player[0]["age"]}}</span>
                <span class="userinfo">Nationality: {{player[0]["nationality"]}}</span>
                <span class="userinfo">County: {{player[0]["county"]}}</span>    
            </div>
        </div>
        <div>
            <h2>Biography</h2>
            <p>{{bio}}</p>
        </div>    
        <footer>
            <p>&copy; 2023 Promoting Local Talent. All rights reserved.</p>
        </footer>
    </main>

    <script>
        function standby() {
            document.getElementById('playerImage').src = '/static/{{player[0]["name"]}}.jpeg'
        }
    </script>
{% endblock %}