{% extends "layout.html" %}

{% block title %}
    Teams
{% endblock %}

{% block main %}
<div class="table-container">
    <h1>Teams</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Logo</th>
                <th>County</th>
                <th>Constituency</th>
                <th>Ward</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td>{{ team[0] }}</td>
                <td>{{ team[1] }}</td>
                <td>{{ team[2] }}</td>
                <td>{{ team[3] }}</td>
                <td>{{ team[4] }}</td>
                <td>{{ team[5] }}</td>
            </tr>
            {% endfor %}
        </table>
</div>


<div class="login-box">
    <h2>Add a local team</h2>
    <form action="/addTeam" method="post">
        <div class="user-box">
            <input type="text" name="teamName" placeholder="Name">
            <label>Name</label>         
        </div>
        <div class="user-box">
            <input type="text" name="county" placeholder="County">
            <label>County</label>         
        </div>
        <div class="user-box">
            <input type="text" name="constituency" placeholder="constituency">
            <label>Constituency</label>
        </div>
        <div class="user-box">
            <input type="text" name="ward" placeholder="Ward">
            <label>Ward</label>
        </div>
        
        <div class="user-box">
            <input type="text" name="stadium" placeholder="Stadium">
            <label>Stadium</label>

        </div>
        <button type="submit">Submit</button>
        {{myWarning}}
    </form>
</div>


{% endblock %}